.container {
    
    margin: 1.25rem;
    padding: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0rem 0.06rem 0.63rem rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    display: inline-block;
    justify-content: center;

    

}



.serviceText{

     padding: 10px;

}

.secciones__sitio {
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.text {
    font-size: xx-large;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

@media(min-width:768px) {
    #gridServicios {
        display: grid;
        grid-template-areas: "card1 card2 card3";
        grid-template-rows: auto;
        grid-template-columns:33% 33% 33%;
        gap: 1px;
    }
}
@media(max-width:480px) {
    #gridServicios {
        display: grid;
        grid-template-areas:
            "card1"
            "card2"
            "card3";
        grid-template-rows: auto;
        grid-template-columns: 100%;
        gap: 1px;
    }
}
